// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  display: block;
  position: absolute;
  height: 20px;
  padding: 5 5 5 5;
  width: 100px;
  left: 5px;
  background-color: #44accf;
  border-radius: 5px;
  text-align: center;
}
.social-btn:hover {
  background: #f95b34;
}
